DATABASE_URL=postgresql://smartstock:smartstock@localhost:5432/smartstock_dev
JWT_SECRET_KEY=change-this-to-a-random-string
FLASK_ENV=development

NOMBA_CLIENT_ID=
NOMBA_CLIENT_SECRET=
NOMBA_SUBACCOUNT_ID=
NOMBA_PARENT_ACCOUNT_ID=
NOMBA_BASE_URL=https://api.nomba.com
NOMBA_WEBHOOK_SIGNATURE_KEY=

TERMII_API_KEY=your_actual_termii_api_key
TERMII_BASE_URL=https://v4.api.termii.com
TERMII_SENDER_ID=N-Alert
TERMII_CHANNEL=generic

SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=your_gmail_address@gmail.com
SMTP_PASSWORD=your_16_char_gmail_app_password
SMTP_FROM_NAME=SmartStock